* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0f0f0f;
  color: #fff;
}

header {
  background-color: #0f0f0f;
  padding: 10px;
  position: sticky;
  top: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  height: 25%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  padding: 20px;
  font-size: 14px;
  margin-top: 20px;
  color: white;
  background-color: #0f0f0f;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 300px) {
  main {
    flex-direction: column;
  }

  app-bar {
    font-size: 12px;
    justify-content: center;
    padding: 20px;
  }

  movies-list {
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    width: 90%;
  }
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
